node_modules/
.vscode/
.tmp/build/.tmp/precompile/visualPlugin.d.ts
.tmp/build/src/component.d.ts
.tmp/build/src/settings.d.ts
.tmp/build/src/visual.d.ts
.tmp/build/src/custom-components/task-list-header-custom.d.ts
.tmp/build/src/custom-components/task-list-table-custom.d.ts
.tmp/build/src/react/App.d.ts
.tmp/build/src/react/main.d.ts
.tmp/build/src/react/components/view-switcher.d.ts
.tmp/build/src/react/custom-components/task-list-header-custom.d.ts
.tmp/build/src/react/custom-components/task-list-table-custom.d.ts
.tmp/drop/pbiviz.json
.tmp/drop/status
.tmp/drop/visual.css
.tmp/drop/visual.css.map
.tmp/drop/visual.js
.tmp/drop/visual.js.map
webpack.statistics.dev.html
webpack.statistics.dev.html
