node_modules/
.vscode/
.tmp/build/.tmp/precompile/visualPlugin.d.ts
.tmp/build/src/settings.d.ts
.tmp/build/src/visual.d.ts
.tmp/drop/pbiviz.json
.tmp/drop/status
.tmp/drop/visual.css
.tmp/drop/visual.js
.tmp/precompile/visualPlugin.ts
.tmp/
webpack.statistics.dev.html
